*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: #161525;
}
header{
    width: 100%;
    height: 100vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header nav{
    width: 100%;
    height: 80px;
    background-color: #C7B24C;
    display: flex;
    align-items: center;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.nav_bar .icons li i{
    height: 60px ;
    width: 60px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    transition: all .2s linear;
}
.nav_bar .icons li :hover i{
    color: #C7B24C;
    background-color: white;
}
.nav_bar .icons li i{
    font-size: 1.5vw;
    color: white;
}
.nav_bar img{
    position: absolute;
    top: 0;
    right: 40%;
    padding: 25px 40px;
    border: 10px solid white;
    background-color: #212529;
}
.src li:first-child a{
    color: #C7B24C;
    font-size: 25px;
    font-weight: 1000;
    padding: 10px 13px;
    background-color: white;
    border-radius: 100%;
}
.src li:last-child a{
    color: white;
    font-size: 30px;
}