*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: #161525;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header nav{
    width: 100%;
    height: 80px;
    background-color: #C7B24C;
    display: flex;
    align-items: center;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.nav_bar .icons li i{
    height: 60px ;
    width: 60px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    transition: all .2s linear;
}
.nav_bar .icons li :hover i{
    color: #C7B24C;
    background-color: white;
}
.nav_bar .icons li i{
    font-size: 1.5vw;
    color: white;
}
.nav_bar img{
    position: absolute;
    top: 0;
    right: 40%;
    padding: 25px 40px;
    border: 10px solid white;
    background-color: #212529;
}
.src li:first-child a{
    color: #C7B24C;
    font-size: 25px;
    font-weight: 1000;
    padding: 10px 13px;
    background-color: white;
    border-radius: 100%;
}
.src li:nth-child(2) a{
    color: white;
    font-size: 2vw;
}
/* ////////////////////////////////// Nav_Bar ////////////////////////////////////// */

.links{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links li a{
    color: white;
    font-size: 1.5vw;
    padding-right: 4vw;
    border-right: 3px solid rgb(109, 255, 47);
    font-weight: 900;
}
.links :last-child a{
    border-right: none;
}
.links li:hover a{
    text-decoration: underline;
}
section.container{
    width: 80vw;
    display: flex;
    overflow: hidden;
    height: 70vh;
    padding: 5vh 0px;
}
.img-container{
    width: 100%;
    display: flex;
    transition: transform .5s linear;
}
.img-container .box{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-container .box img{
    height: 80%;
}
.buttons-container{
    display: flex;
    position: absolute;
    width: 80%;
    justify-content: space-between;
    transform: translateY(20vh);
}
.buttons-container button{
    height: 100%;
    transform: rotate(45deg);
    border: 2px double #C7B24C;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    width: 30px;
}
.buttons-container button i{
    transform: rotate(-45deg);
    color: #C7B24C;
}
.slider-txt{
    width: 60%;
}
.slider-txt h2{
    font-size: 6vw;
    line-height: .9;
    color: rgb(71, 219, 42);
}
.slider-txt p{
    color: white;
}
#menu{
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: #212529;
    z-index: 1;
    transform: scale(0, 1);
    transition: all .5s linear;
    transform-origin: top right;
}
.menu-link a{
    color: white;
}
.menu-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.menu-link ul{
    display: flex;
    gap: 20px;
    font-size: 30px;
}
#menu-span{
    height: 17px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    display: none;
}
#menu-span span:first-child{
    height: 2px;
    width: 100%;
    background-color: white;
    transition: transform .2s linear;
}
#menu-span span:last-child{
    height: 2px;
    width: 90%;
    background-color: white;
    transition: transform .2s linear;
}
#menu-span span:nth-child(2){
    height: 2px;
    width: 70%;
    background-color: white;
    transition: transform .2s linear;
}
body.active #menu-span span:first-child{
    transform: rotate(45deg) translateX(12px);
}
body.active #menu-span span:last-child{
    transform: rotate(-45deg) translateX(11px);
}
body.active #menu-span span:nth-child(2){
    width: 0;
}