@media screen and (max-width: 1700px){
    .nav_bar img{
        right: 35%;
        padding: 1vw 2vw;
    }
    .nav_bar .icons li i{
        font-size: 1.5vw;
        height: 3vw;
        width: 3vw;
    }
    .nav_bar h1{
        font-size: 1vw;
    }
    .container{
        width: 90%;
    }
    .src li:first-child a{
        font-size: 1.5vw;
    }
    .buttons_container{
        width: 90%;
    }
    section.container{
        width: 90%;
    }
    .buttons-container{
        width: 90%;
    }
}

@media screen and (max-width: 1000px){
    .nav_bar img{
        position: sticky;
        border: none;
        padding: 0;
        background-color: transparent;
        width: 15vw;
        filter: brightness(100);
    }
    .links{
        padding: 10px;
    }
    .nav_bar h1{
        font-size: 2vw;
    }
    .nav_bar .icons li i{
        font-size: 2vw;
        height: 5vw;
        width: 5vw;
    }
    .src li:first-child a{
        font-size: 2vw;
    }
    .img-container .box{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .slider-txt{
        width: 100%;
    }
    .slider-txt h2{
        font-size: 8vw;
    }
    #menu-span{
        display: flex;
    }
    body.active #menu{
        transform: scale(1);
    }
    #menu{
        position: absolute;
        z-index: 2;
    }
    .src li:nth-child(2) a{
        font-size: 20px;
    }
    .src li:first-child a{
        font-size: 16px;
    }
    .nav_bar img{
        width: 100px;
    }
}
@media screen and (max-width: 700px){
    .nav_bar h1{
        display: none;
    }
    .nav_bar .icons{
        display: none;
    }
    .links {
        display: none;
    }
}